#paineldecompras {
    width: 300px;
    height: 200px;

    


}










header {
    display: flex;
    justify-content: space-between; /* joga um pra cada lado */
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}
#produtosempromoção {
    width: 900px;
    height: 200px;
}

.linhadeumaclassedosprodutos {
    display: flex;
    flex-direction: row;
    gap: 20px; /* faltava o px */
    margin-bottom: 50px;
}

.cards {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centro vertical */
    align-items: center;     /* centro horizontal */

    width: 200px;
    height: 270px;
    background-color: white;
    border:2px solid rgba(0, 0, 0, 0.4);


    transition: transform 0.25s ease, box-shadow 0.25s ease;
}
.cards:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.90);
}



.adicionar {
    background-color: #2e7d32;   /* verde supermercado */
  color: white;
  width: 140px;
  height: 50px;
  
}
/* 
.categoria  {
  height: 100%; 
  margin-bottom: 10px;
}


*/
#buscar-card {
    transform: scale(1.3);
    transition: 0.3s;
}


/* Fundo escuro atrás da janela */
.modal {
    display: none; /* começa escondido */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);

    justify-content: center;
    align-items: center;
}

/* Caixa branca */
.modal-conteudo {
    display: flex;
    flex-direction: column;
}

/* Botão X */
.fechar {
    float: right;
    cursor: pointer;
    font-size: 20px;
}
















